# Classification of House Prices using Tensorflow

In [1]:
# For working with data as tables
import pandas as pd
# For number matrices
import numpy as np
# For plotting
import matplotlib.pyplot as plot
# Tensorflow
import tensorflow as tf

In [11]:
# Load data
dataframe = pd.read_csv("../Datasets/house_pricing.csv")
# Remove unnecessary features
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis=1)
dataframe = dataframe[0:10]
dataframe

   area  bathrooms
0  2104          3
1  1600          3
2  2400          3
3  1416          2
4  3000          4
5  1985          4
6  1534          3
7  1427          3
8  1380          3
9  1494          3

In [20]:
# Label the data
# 1 is a good buy and 0 is a bad buy
dataframe.loc[:, ('y1')] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
# y2 is a negation of y1
dataframe.loc[:, ('y2')] = dataframe['y1'] == 0
# Converting TRUE/FALSE to 1 and 0
dataframe.loc[:, ('y2')] = dataframe['y2'].astype(int)
dataframe

   area  bathrooms  y1  y2
0  2104          3   1   0
1  1600          3   1   0
2  2400          3   1   0
3  1416          2   0   1
4  3000          4   0   1
5  1985          4   1   0
6  1534          3   0   1
7  1427          3   1   0
8  1380          3   1   0
9  1494          3   1   0

In [28]:
# Prepare data for Tensorflow (tensors)
# tensors - generic version of vectors and matrices
# vector - list of numbers (1D tensor)
# matrix - list of list of numbers (2D tensor)
# list of list of list of numbers - 3D tensor
# and the list continues
# tensors are how we represent data in tensorflow

# Convert features into input tensor
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
# Convert labels into input tensor
inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()

In [29]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [30]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [31]:
# Hyperparamets
learning_rate = 0.000001
training_epochs = 2000
# how often we want to display the process of training
display_step = 50
n_samples = inputY.size

In [32]:
# Create our computational graph/nueral network